---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="site">
      <div class="header">
        <h1 id="title"><a href="/">{{ site.name }}</a></h1>
        <h3 id="subtitle">with cookies</h3>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            Proudly powered by <a href="http://obraz.pirx.ru/">Obraz</a><br/>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
